@charset "UTF-8";

/* 
em HTML é id    = em CSS é # ( Só pode um elemento )
em HTML é class = em CSS é . ( pode vários elementos)

*/

body {
    background-color: rgb(152, 244, 244);
}

h1 {
    color: coral;
}

h1#principal {
    text-align: center;
    background-color: chartreuse;
    color: coral;
}

h2 {
    color: rgb(203, 203, 13);
}

.basico {
        color: darkgreen;
}

.intermediario {
        color: gold;

}

.avancado {
    color: red;
}